[Desktop Entry]
Name=Misli
Comment=Organize thoughts
Exec=/home/p10/Dropbox/Pepi/C++/misli/build-misli-Desktop_Qt_5_0_2_GCC_64bit-Debug/misli
Icon=/home/p10/Dropbox/Pepi/C++/misli/icon.png
Terminal=false
Type=Application
StartupWMClass=misli
