
misli_desktop/misli_desktop.pro.user.d0d8b39
misli_desktop/misli_desktop.pro.user.6a52a50
misli_desktop/misli_desktop.pro.user.4.8-pre1
misli_desktop/misli_desktop.pro.user.3.3-pre1
misli_desktop/misli_desktop.pro.user.3.2-pre1
misli_desktop/misli_desktop.pro.user.20
misli_desktop/misli_desktop.pro.user.16
misli_desktop/misli_desktop.pro.user.0574e1e
misli_desktop/misli_desktop.pro.user
misli_android/misli_android.pro.user
misli_desktop/misli_desktop.pro.user.4.10-pre1
other/misli.desktop~
other/misli_custom.desktop~
misli_desktop/misliwindow.cpp.autosave
canvaswidget.cpp.autosave
canvaswidget.h.autosave
canvaswidget.cpp.autosave
canvaswidget.h.autosave
