
misli_desktop/misli_desktop.pro.user.d0d8b39
misli_desktop/misli_desktop.pro.user.6a52a50
misli_desktop/misli_desktop.pro.user.4.8-pre1
misli_desktop/misli_desktop.pro.user.3.3-pre1
misli_desktop/misli_desktop.pro.user.3.2-pre1
misli_desktop/misli_desktop.pro.user.20
misli_desktop/misli_desktop.pro.user.16
misli_desktop/misli_desktop.pro.user.0574e1e
misli_desktop/misli_desktop.pro.user
misli_android/misli_android.pro.user
misli_desktop/misli_desktop.pro.user.4.10-pre1
other/misli.desktop~
other/misli_custom.desktop~
misli_desktop/misliwindow.cpp.autosave
canvaswidget.cpp.autosave
canvaswidget.h.autosave
canvaswidget.cpp.autosave
canvaswidget.h.autosave
misli_desktop/misliwindow.h.autosave
*.pyc
*.user
misli.py/.idea/inspectionProfiles/profiles_settings.xml
misli.py/.idea/misc.xml
misli.py/.idea/misli.py.iml
misli.py/.idea/modules.xml
misli.py/.idea/vcs.xml
misli.py/misli.egg-info/dependency_links.txt
misli.py/misli.egg-info/PKG-INFO
misli.py/misli.egg-info/SOURCES.txt
misli.py/misli.egg-info/top_level.txt
