builds
deployments

node_modules
*.pro.user.*

*.desktop~
*.autosave
*.pyc
*.user
.idea
*.egg-info

misli_web
tmp_*
.vscode
misli.py/tests/visual/automatic_inspection_output/tmp_recording/snapshots/1_map_page.clear_note_selection.png
misli.py/tests/visual/automatic_inspection_output/tmp_recording/snapshots/2_map_page.update_drag_select.png
misli.py/tests/visual/automatic_inspection_output/tmp_recording/snapshots/3_notes.create_new_note.png
misli.py/tests/visual/automatic_inspection_output/tmp_recording/snapshots/4_map_page.update_drag_select.png
misli.py/tests/visual/automatic_inspection_output/tmp_recording/snapshots/5_notes.finish_creating_note.png
misli.py/tests/visual/automatic_inspection_output/tmp_recording/tmp_recording.actions-recording.json
misli.py/tests/visual/inspection_templates/tmp_recording.actions-recording.json
misli.py/tests/visual/manually_verified_inspections/tmp_recording/snapshots/0_desktop.new_browser_window_ensure_page.png
misli.py/tests/visual/manually_verified_inspections/tmp_recording/snapshots/1_map_page.clear_note_selection.png
misli.py/tests/visual/manually_verified_inspections/tmp_recording/snapshots/2_map_page.update_drag_select.png
misli.py/tests/visual/manually_verified_inspections/tmp_recording/snapshots/3_notes.create_new_note.png
misli.py/tests/visual/manually_verified_inspections/tmp_recording/snapshots/4_map_page.update_drag_select.png
misli.py/tests/visual/manually_verified_inspections/tmp_recording/snapshots/5_notes.finish_creating_note.png
misli.py/tests/visual/manually_verified_inspections/tmp_recording/tmp_recording.actions-recording.json
misli.py/tests/visual/tmp_last_visual_inspection_diffs/tmp_recording/0_desktop.new_browser_window_ensure_page/0_desktop.new_browser_window_ensure_page.png.png
misli.py/tests/visual/tmp_last_visual_inspection_diffs/tmp_recording/0_desktop.new_browser_window_ensure_page/0_desktop.new_browser_window_ensure_page.png_good.png
misli.py/tests/visual/automatic_inspection_output/tmp_recording/snapshots/0_desktop.new_browser_window_ensure_page.png

*.code-workspace

misli/installer/packages/com.p10.misli/data/data.7z
misli.py/web_shell/brython_stdlib.js
misli.py/web_shell/brython.js

cordova_app/platforms
cordova_app/plugins
www

web_shell/test
