@import './variables.css';

html,
.app,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', /*…*/ sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: clip;
  font-size: var(--type-md);
  line-height: 1.5;
}

@font-face {
  font-family: 'Open Sans';
  src: local('./resources/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Your note-text class */
.note-text {
  flex-grow: 8;
  align-self: center;
  min-height: var(--space-2);
  min-width: var(--space-2);
  width: min-content;
  height: min-content;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-size: var(--type-md);
  line-height: 1.25;
  overflow: visible;
  text-decoration: none;
}

.page-view {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}

@media (max-width: 768px) {
  .page-view {
    flex-direction: column;
    flex-flow: column-reverse;
  }
}
