<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="pamet-schema-version" content="{{ schema_version }}">
    <title>Pamet Canvas</title>
    <style>{{ style }}</style>
</head>
<body>

<noscript>Enable JavaScript to view this canvas.</noscript>

<script type="application/json" id="pamet-data">
{{ data }}
</script>

<script>
{{ script }}
</script>

</body>
</html>
