[Desktop Entry]
Name=Pamet
Comment=A program to organize thoughts and notes
Exec=pamet
Icon=org.amakak.pamet
Terminal=false
Type=Application
StartupWMClass=pamet
Hidden=false
