body{
    margin: 0;
}
.note {
    color: rgba(0,0,255,1);
    background: rgba(0,0,255,0.1);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: blue;
    font-family: "Helvetica";
}
#misliCanvas{
    //border: 1px solid red;
    width: 100%;
    height: 100%;
}
