.command-palette {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30em;
    background: white;
    border: 1px solid var(--color-border);
    z-index: 2000;
    box-sizing: border-box;
    font-size: 1.2rem;
}

.command-palette input {
    width: 100%;
    padding: 0.5em;
    font-size: 1em;
    border: none;
    border-bottom: 1px solid var(--color-border);
    outline: none;
    box-sizing: border-box;
}

.command-list {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 20em;
    overflow-y: auto;
}

.command-list li {
    padding: 0.1em 0.5em;
    font-size: 0.9em;
    cursor: pointer;
}

.command-list li:not(:last-child) {
    border-bottom: 1px solid var(--color-border);
}

.command-list li:hover,
.command-list li.selected {
    background-color: var(--color-hover-light);
}
