@import '../variables.css';

.panel {
  position: absolute;
  top: var(--space-1);
  padding: 1rem 1rem;
  height: 2.75rem; /* Matches font size + padding */
  box-sizing: border-box;

  background: white;
  display: flex;
  flex-direction: row;
  gap: 0.65rem;
  z-index: 1002;

  box-shadow: var(--shadow-md);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-xs);
  justify-content: center;
  align-items: center;
  font-size: var(--type-lg);
}

.panel-top-left {
    left: var(--space-1);
}

.panel-top-right {
    right: var(--space-1);
}

.panel > img {
  height: var(--type-xl);
  width: var(--type-xl);
}
